
/*NAVIGATION */

/*Gives blue color to body*/
body {
  background-color: #2DB8BF;
  font-size: 20px;
  margin: 0px;

}


.container {
  min-height: 100%;
}

/*Gets rid of extra padding in the containers*/
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;

  
}


/*Gives Navbar grey color */
#navbar {
  background-color: #E4E3E2;
}

/*Gives collapsible bar black color*/
.navbar-default .navbar-collapse {
  background-color: #222;
}


/*Search bar*/

.btn{
  margin-bottom: 16px;
  
}

/*
Gives our name with pretty font*/
.navbar-brand h1

{
  font-family: 'Michroma', sans-serif;
  margin-top: 75px;
  color: black;

  display: inline-block;
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
  clear: both;


}

/*Makes color of top and bottom icons match body*/
a {
  color: #2DB8BF;
}

/*Adjusts glyphicon location */
  .navbar-nav>li>a {
  text-align: center;
  left: 0;
  right: 0;
}

/*Centers the glyphicons in top header*/

#centerglyphicons {
  text-align: center;
  display: block;
}

#centerglyphicons:hover {
  text-decoration: none;
  background: #E7E7E7;
}

/*END OF NAVIGATION*/


/*BEGINNING OF MAIN CONTENT*/

#menu-tile, #specials-tile, #map-tile {
  height: auto;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
    background-color: #000000;
  
}

#workdiv {
  border-width: 0;
    border-style: solid;
    background-color: #7E7E7E;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -20px;
    
}

#worklink {
  text-decoration: none;
  color: #000000;
}

#workdivtech {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  color: #7E7E7E;
  margin-bottom: 10px;
}

#workinfo {
  color: #7E7E7E;
  font-size: 16px;
}
/*Centers everything in blue space*/
#main-content {
  
  margin-bottom: 0px;
  clear: both;
  text-align: center;
  overflow: auto;
  padding-bottom: 175px;
  

  
}

/*Increases font of Latest Projects*/
#titles {
  font-size: 30px;
  text-align: center;
  display: block;

}

/*Centers CycleTrac Image*/
.img-responsive {
  display: inline;

}

/*Gets rid of extra space around CycleTrac logo*/
#cycleTracLogo {
  margin-top: -40px;
  margin-bottom: -30px;
  display: inline-block;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}



/*END OF MAIN CONTENT*/



/*BEGINNING OF FOOTER*/

/*Increases font of footer icons*/
.fa {
  font-size: 40px;


}



/*Keeps footer at the bottom of the page*/
.panel-footer {
  padding-top: 35px;
  padding-bottom: 30px; 
  background-color: #222;
  border-top: 0;
  max-height: 175px;
  position: fixed;
  /*bottom:0;*/
  /*left: 0;
  right: 0;*/
  text-align: center;
  /*display: block;*/
  width: 100%;

}


/*END OF FOOTER*/

/*BEGINNING OF CONTACT FORM*/

form {
  margin-top: 50px;
  /*transition: all 4s ease-in-out;*/

}

.form-control {
  width: auto;
  display: inline-block;
  border: none;
  outline: none;
  text-align: center;
  
  font-size: 18px;
  margin-bottom: 16px;
}

textarea.form-control {
  max-height: 150px;
  min-height: 50px;
  max-width: 215px;
  min-width: 215px;
  padding: 6px 12px;
  margin-right: 8px;
}

input {
  height: 50px;
  display: inline-block;
  font-size: 18px;
  padding: 6px 12px;
  text-align: center;
  margin-bottom: -20px;
}

form .submit {
  background: #222;
  border-color: transparent;
  color: #2DB8BF;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
  margin-right: 10px;
}

form .submit:hover {
  background-color: #E7E7E7;
}
/*END OF CONTACT FORM*/

/*BEGINNING OF RESUME PAGE*/

#resumefiles {
  color: #222;
}

#resumefiles:hover {
  color: #E7E7E7;
}


/*END OF RESUME PAGE*/

/*BEGINNING OF ABOUT PAGE*/

#Ryanpicture {
  margin-bottom: 50px;
  
}

#aboutme {
  margin-top: 120px;
  text-align: justify;
}
/*END OF ABOUT PAGE*/
/* Extra Extra small devices (less than 375px, such as iPhone 5)*/

@media (max-width: 375px) {
  .navbar-brand h1 

{
  font-family: 'Michroma', sans-serif;
  color: black;
  font-size: 0.70em;
  display: inline-block;
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
  clear: both;
  margin-top: 7px;




}



}
/*Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 376px) and (max-width: 767px) { 


/*Makes name smaller*/
.navbar-brand h1

{
  font-family: 'Michroma', sans-serif;
  color: black;
  font-size: 18px;
  display: inline-block;
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
  clear: both;
  margin-top: -2px;




}

/*BEGINNING OF FOOTER*/
.fa {
  font-size: 50px;
  margin-top: 50px;
}

#box {
  text-align: left;

}

.panel-footer {
  padding-top: 0px;
  padding-bottom: 30px; 
}
/*END OF FOOTER*/







}

/*// Small devices (landscape phones, 576px and up) */

@media (min-width: 576px){ 

/*When collapsible comes, only show smaller verson of name*/








}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px)
{


/*Makes sure logo only shows up for medium to extra-large devices */
#logo-img {
  background: url('images/RDBLogoSmall.png')no-repeat;
  width: 200px;
  height: 200px;



}







}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 







}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 






}

